html
{
    background-color: brown;
}

body { 
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin: 50px auto;
    padding: 25px 75px;
    border-radius: 10px;
}

h1 {
    color: darkgoldenrod
}

h1,h2 {
    font-family: Verdana, Geneva, 
}

a {
    color: maroon;
    text-decoration: none;
}
a:hover {
   text-decoration: underline; 
   color: blue;
   font-size: 40px;
}